<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>607131302158-o0marpui11ljlnnkdt3kp0k1nuefpu5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607131302158-o0marpui11ljlnnkdt3kp0k1nuefpu5u</string>
	<key>API_KEY</key>
	<string>AIzaSyAl0YBtqk9ojPRIppm9K0EBnHgdPiYLbIk</string>
	<key>GCM_SENDER_ID</key>
	<string>607131302158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afdapps.HASALapp</string>
	<key>PROJECT_ID</key>
	<string>hasal-3c840</string>
	<key>STORAGE_BUCKET</key>
	<string>hasal-3c840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607131302158:ios:8ed5d8ce5142968b</string>
	<key>DATABASE_URL</key>
	<string>https://hasal-3c840.firebaseio.com</string>
</dict>
</plist>